<p id="notice"><%= notice %></p>

<h1>Mr. Car Parts</h1>

<table>
  <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mr_car_parts.each do |mr_car_part| %>
      <tr>
        <td><%= mr_car_part.Make %></td>
        <td><%= mr_car_part.Model %></td>
        <td><%= mr_car_part.price %></td>
        <td><%= link_to 'Show', mr_car_part %></td>
        <td><%= link_to 'Edit', edit_mr_car_part_path(mr_car_part) %></td>
        <td><%= link_to 'Destroy', mr_car_part, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parts Invoice', new_mr_car_part_path %>
