<p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @mr_car_part.Make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @mr_car_part.Model %>
</p>

<p>
  <strong>Price:</strong>
  <%= @mr_car_part.price %>
</p>

<%= link_to 'Edit', edit_mr_car_part_path(@mr_car_part) %> |
<%= link_to 'Back', mr_car_parts_path %>
