<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% car.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :make_id %>
    <%= form.collection_select :make_id, @makes, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :car_model %>
    <%= form.text_field :car_model %>
  </div>

  <div class="field">
    <%= form.label :vin_number %>
    <%= form.text_field :vin_number %>
  </div>

  <div class="field">
    <%= form.label :part_id %>
    <%= form.collection_select(:part_id, @parts, :id, :part_name) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
