<p id="notice"><%= notice %></p>

<p>
<strong>Make:</strong>
  <%= @car.make.name %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.car_model %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @car.vin %>
</p>

<p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
