<%= form_with(model: invoice_part, local: true) do |form| %>
  <% if invoice_part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice_part.errors.count, "error") %> prohibited this invoice_part from being saved:</h2>

      <ul>
      <% invoice_part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :make %>
    <%= form.text_field :make %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>

  <div class="field">
    <%= form.label :vin %>
    <%= form.text_field :vin %>
  </div>

  <div class="field">
    <%= form.label :part_inventories_id %>
    <%= form.collection_select :part_inventories_id, PartInventory.all, :id, :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
