<p id="notice"><%= notice %></p>

<h1>Invoice Parts</h1>

<table>
  <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Vin</th>
      <th>Part Inventories</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoice_parts.each do |invoice_part| %>
      <tr>
        <td><%= invoice_part.make %></td>
        <td><%= invoice_part.model %></td>
        <td><%= invoice_part.vin %></td>
        <td><%= invoice_part.part_inventories_id %></td>
        <td><%= link_to 'Show', invoice_part %></td>
        <td><%= link_to 'Edit', edit_invoice_part_path(invoice_part) %></td>
        <td><%= link_to 'Destroy', invoice_part, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice Part', new_invoice_part_path %>
