<p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @invoice_part.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @invoice_part.model %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @invoice_part.vin %>
</p>

<p>
  <strong>Part inventories:</strong>
  <%= @invoice_part.part_inventories_id %>
</p>

<%= link_to 'Edit', edit_invoice_part_path(@invoice_part) %> |
<%= link_to 'Back', invoice_parts_path %>
