<p id="notice"><%= notice %></p>

<h1>Part Inventories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Inventory</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @part_inventories.each do |part_inventory| %>
      <tr>
        <td><%= part_inventory.name %></td>
        <td><%= part_inventory.inventory %></td>
        <td><%= link_to 'Show', part_inventory %></td>
        <td><%= link_to 'Edit', edit_part_inventory_path(part_inventory) %></td>
        <td><%= link_to 'Destroy', part_inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Part Inventory', new_part_inventory_path %>
